<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.fish">
	<select id="getList" resultType="java.util.HashMap">
		select * from fishbeer order by num asc	
	</select>
	
	<select id="alchorList"  resultType="java.util.HashMap">
		select * from fishbeer order by alchor desc
	</select>
	
	<select id="styleList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from fishbeer where style = #{style} order by score desc
	</select>
	
	<select id="scoreList" resultType="java.util.HashMap">
		select * from fishbeer order by score desc
	</select>

</mapper>