<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.10.xsd">

	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<context:component-scan base-package="controller" />
	<context:component-scan base-package="filters" />
	<context:component-scan base-package="services" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:order="99" />

	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"
		p:order="1" />

	<bean class="org.springframework.web.servlet.ModelAndView" scope="prototype" />

	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="mapperLocations">
			<list>
				<value> /WEB-INF/mappers/*-mapper.xml</value>
			</list>
		</property>
		<property name="dataSource" ref="datasource" />
	</bean>


	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="datasource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.10.1:1521:xe" />
		<property name="user" value="jm" />
		<property name="password" value="jmjm" />
	</bean>

</beans>
